.library {
    position: fixed;
    background-color: #fafafa;
    box-shadow: 4px 1px 11px #00000014;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    transform: translate(-100%);
    transition: all 0.5s ease;
    box-sizing: border-box;

    h2 {
        font-weight: 600;
        color: #353535;
        font-family: 'Lato', sans-serif;
        margin: 25px 25px 15px 25px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 15px;
    }

    .selected {
        background: #ff7400a3;
        color: #000;
        
        .song-info h4 {
            color: #000;
        }
    }
}

.active-library {
    transform: translateX(0%);
    opacity: 1;        
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}