* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');
@import "./player";
@import "./song";
@import "./library";
@import "./library-song";